body{
    margin: 0px;
}
a{ /* a = Selector (선택자) */
    color: black; /* Declaration (선언, 효과), color = property, black = value */ 
    /* text-decoration: none; */
}
/* 선언 우선 순위 id(하나만 선언한다), class, tag, 순서 (참고 : css selector 검색)*/
#active{
    color: red;
}
/* .saw{
    color: gray;
} */
h1{
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;
}
ol{
    border-right: 1px solid gray;
    width: 100px;
    margin: 0px;
    padding: 20px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid ol{
    padding-left: 33px;
}
#grid #article{
    padding-left: 25px;
}
@media(max-width:800px){
    #grid{
    display: block;
    }
    ol{
    border-right: none;
    }
    h1{
        border-bottom: none;
    }
}